<md-toolbar color="primary">
  <span>Pólizas</span>
  <span class="fill-remaining"></span>
  <!--<button md-fab color="accent" (click)="showOptions = !showOptions" *ngIf="!showOptions">
    <md-icon class="md-24">filter_list</md-icon>
  </button>-->
</md-toolbar>

<md-list>
  <md-list-item *ngIf="showOptions">
    <!--<md-input placeholder="Nro Poliza" [(ngModel)]="options.number"></md-input>-->
    <md-input placeholder="Página" [(ngModel)]="options.page" type="number" min="1"></md-input>
    <md-radio-group [(ngModel)]="options.limit">
      <md-radio-button value="5">5</md-radio-button>
      <md-radio-button value="10">10</md-radio-button>
      <md-radio-button value="15">15</md-radio-button>
    </md-radio-group>
    <button md-raised-button (click)="filter()">Buscar</button>
  </md-list-item>

  <md-list-item *ngFor="let pol of policies">
    <p md-line>{{pol.number}}</p>
    <p md-line>{{pol.client.firstName }}</p>
  </md-list-item>

</md-list>