<h1>Poliza</h1>
<form>
  <p>
    <input disabled placeholder="Compania" [(ngModel)]="policy.risk.company.name" style="width: 100%" name="companyName" />
  </p>
  <p>
    <input disabled placeholder="Numero" [(ngModel)]="policy.number" name="number" />
  </p>
  <p *ngIf="vehicles.length > 0">
    <input disabled placeholder="Patente" [(ngModel)]="vehicles[0].plate" style="width: 100%" name="plate" />
  </p>
  <p *ngIf="vehicles.length > 0">
    <input disabled placeholder="Modelo de vehiculo" [(ngModel)]="vehicles[0].vehicleModel.name" style="width: 100%" name="vehicleModel"
    />
  </p>
  <p *ngIf="employees.length > 0">
    <input disabled placeholder="Nombre Completo" [value]="employees[0].firstName + ' ' + employees[0].lastName" style="width: 100%"
      name="employeeName" />
  </p>
  <p *ngIf="employees.length > 0">
    <input disabled placeholder="DNI" [(ngModel)]="employees[0].dni" style="width: 100%" name="dni" />
  </p>
</form>
<ul>
  <li *ngFor="let fee of fees;let i = index">
    <h3>{{fee.number}} - {{fee.value | currency:'ARS':true:'1.2'}} - {{fee | feeStatusName}}</h3>
    <!--<a *ngIf="fee.state === 0" [routerLink]="['fees', fee.objectId, 'collect']">-->
    <a *ngIf="validateCurrentFeeState(fee) && isProducer" (click)="collect(fee, i)">
      <button>attach_money</button>
    </a>
  </li>
</ul>
